.header {
    background-color: rgb(175, 180, 177);
    height: 80px;

    h2 {
        margin: 0;
        padding: 20px 0 0 10px;
        color: rgb(246, 251, 246);

    }
}

.main {
    text-align: center;
    padding-bottom: 80px;

    // .reading-view {}


}

.footer {

    height: 50px;
    width: 100%;
    background-color: lightgray;
    position: fixed;
    bottom: 0;
}